.header {
  /* text-align: center; */
  width: 1200px;
  padding: 30px 10px 40px 40px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 500;
}

.overview {
  margin: 150px 30px 20px 30px;
  width: 1220px;
  display: flex;
}

.features {
  flex-grow: 1;
  max-width: 850px;
}

.widgets {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.chart {
  margin: 40px 0 0 18px;
}

.notification {
  flex-grow: 1;
  max-width: 380px;
}

/* Task Lists */
.task-lists {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
}
